/* Header */
.ac-logo {
  width: calc(100% - 200px);
  height: auto;
}

@media screen and (max-width: 500px) {
  .ac-logo {
    width: 200px;
  }
}

/* Dashboard */
.container-sidebar {
  min-width: fit-content !important;
  width: max-content !important;
}

.list-item {
  list-style: none;
}

.ac-profile-img {
  max-width: 150px;
  border-radius: 50%;
}

/* Listing */
.ac-listing-item {
  max-width: 18rem;
  width: 100%;
}

.ac-listing-img {
  width: calc(100% * (9 / 16));
  aspect-ratio: 1;
}
