.nav-tabs .nav-link.active {
  background-color: #232c3d !important;
  color: #dcd3c2 !important;
}

@media screen and (max-width: 800px) {
  #myTab {
    max-width: fit-content;
    align-items: center;
    flex-direction: column;
    gap: 0.5rem;
  }
}
